{
    "query":{
        "filtered": {
            "filter": {
                "range": {
                    "randomInt": {
                        "ge": 0, "le": 100
                    }
                }
            }
        }
    }
}